/* ---------- Color Variables ---------- */

/* Color Palette from coolors.co */
/* Based on discovernorthernireland.com */

:root {
    --white: #F2F2F2;
    /* Cultured */
    --black: #292825;
    /* Eerie Black */
    --blue: #137BB3;
    /* Star Command Blue */
    --green: #0B5650;
    /* Deep Jungle Green */
    --pink: #A90F5E;
    /* Jazzberry Jam */

    --white-opacity: rgba(242, 242, 242, 0.7);
    --black-opacity: rgba(41, 40, 37, 0.7);
    --blue-opacity: rgba(19, 123, 179, 0.7);
    --green-opacity: rgba(11, 86, 80, 0.7);
    --pink-opacity: rgba(169, 15, 94, 0.7);
}

/* ---------- End Color Variables ---------- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
}

/* ---------- Fonts ---------- */
h1,
h2 {
    font-family: 'Permanent Marker', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

.italics {
    font-style: italic;
    font-weight: 700;
}


/* ---------- End Fonts ---------- */

/* ---------- Navigation Bar ---------- */

nav {
    background-color: var(--white);
}

nav i {
    color: var(--black);
    font-size: 2.6rem;
}

#nav-mobile a {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
}

#nav-mobile a:hover {
    background-color: var(--green);
    color: var(--white);
}

#mobile-side-nav {
    background-color: var(--green);
}

#mobile-side-nav a {
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* ---------- End Navigation Bar ---------- */

/* ---------- Home Page ---------- */

.heading,
.about,
.login-signup {
    padding: 20px 0 20px;
}

.heading h1 {
    color: var(--pink);
    margin: 10px auto 40px;
}

.heading-bg-img {
    background: linear-gradient(var(--white-opacity), var(--white-opacity)), url('../images/open-mouth.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: auto;
}

.description {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6rem;
}

.img-container {
    position: relative;

    width: 100%;
    height: 60vh;
}

.bg-img-1 {
    background: url('../images/giants-causeway.jpg');
    background-size: cover;
    background-position: center;
}

.bg-img-2 {
    background: url('../images/dark-hedges.jpg');
    background-size: cover;
    background-position: center;
}

/* Add text block to images from - https://www.w3schools.com/howto/howto_css_image_text_blocks.asp */
.img-description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;

    background-color: var(--blue-opacity);
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}

.img-description span {
    font-weight: 800;
}

.about h2 {
    color: var(--blue);
    margin: 0;
}

.about-description {
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 0;
}

.about-description span {
    font-weight: 700;
}

.login-signup {
    font-size: 1.4rem;
}


/* ---------- End Home Page ---------- */


/* ---------- Buttons ---------- */

.btn {
    background-color: var(--white);
    border: 3px solid var(--pink);
    border-radius: 50px;

    color: var(--pink);
    font-size: 1.2rem;
    font-weight: 700;

    padding: 10px 20px;
    margin: 20px 0;
    width: 80%;
    height: auto;
}

.btn:hover,
.btn:focus {
    background-color: var(--pink);
    color: var(--white);
}

/* ---------- End Buttons ---------- */

/* ---------- Dictionary ---------- */
.dictionary {
    margin: 20px 0;
}

section div.row {
    margin-bottom: 0;
}

.card {
    color: var(--black);
    border-radius: 20px;
}

.card-content {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-caret-down {
    font-size: 2rem;
}

/* ---------- End Dictionary ---------- */

/* ---------- Login ---------- */

.form-container {
    position: relative;

    width: 100%;
    height: auto;
}

.bg-img-form {
    background: url('../images/titanic-belfast.jpg');
    background-position: center;
    background-size: cover;
}

form .card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px;
    margin: 40px 20px 100px;

    justify-content: center;
    align-items: center;
}

.card .input-field {
    margin: 30px auto;
    width: 80%;
}

.input-field i {
    color: var(--blue);
}

.sign-up p {
    font-size: 1.4rem;
    font-weight: 700;
}

/* ---------- End Login ---------- */

/* ---------- Flash Messages ---------- */

.logout {
    background-color: var(--pink-opacity);
}

.logout h4 {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 0 10px;
}

/* ---------- End Flash Messages --------- */

/* ---------- Footer ---------- */

.page-footer {
    background-color: var(--pink);
}

footer h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

.page-footer,
.social-link {
    color: var(--white);
    font-size: 1.2rem;
}

.social-link i {
    font-size: 1.2rem;
    padding: 0 10px;
}

.footer-copyright a {
    color: var(--white);
}

/* ---------- End Footer ---------- */

/* ---------- Media Queries ---------- */

/* For devices bigger than mobile screen size 425px */
@media only screen and (min-width: 425px) {}

/* For devices bigger than tablet screen size 768px */
@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}