/* ---------- Color Variables ---------- */

:root {
    --black: #2F2E2B;
    /* Jet */
    --white: #F6F2DF;
    /* Eggshell */
    --yellow: #FCBF49;
    /* Maximum Yellow Red */
    --green: #599E42;
    /* May Green */
    --blue: #003049;
    /* Prussian Blue */
}

/* ---------- End Color Variables ---------- */

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;

    color: var(--white);
}

.green-bg {
    background-color: var(--green);
}

/* ---------- Dictionary Cards ---------- */
.dictionary {
    margin: 20px 0;
}

main div.row {
    margin-bottom: 0;
}

.card {
    color: var(--black);
    border-radius: 20px;
}

.card-content {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-caret-down {
    font-size: 2rem;
}

.italics {
    font-style: italic;
    font-weight: 700;
}

/* ---------- End Dictionary Cards ---------- */

/* ---------- Footer ---------- */

.social-link {
    color: var(--white);
}

/* ---------- End Footer ---------- */