/* ---------- Color Variables ---------- */

/* Color Palette from coolors.co */
/* Based on discovernorthernireland.com */

:root {
    --white: #F2F2F2;
    /* Cultured */
    --black: #292825;
    /* Eerie Black */
    --dark-blue: #0F2B6C;
    /* Royal Blue Dark */
    --blue: #137BB3;
    /* Star Command Blue */
    --green: #0B5650;
    /* Deep Jungle Green */
    --pink: #A90F5E;
    /* Jazzberry Jam */
}

/* ---------- End Color Variables ---------- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
}

/* ---------- Fonts ---------- */
h1,
h2 {
    font-family: 'Permanent Marker',
        cursive;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

/* ---------- End Fonts ---------- */

/* ---------- Navigation Bar ---------- */

nav {
    background-color: var(--white);
}

nav i {
    color: var(--black);
    font-size: 2.6rem;
}

#nav-mobile a {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
}

#nav-mobile a:hover {
    background-color: var(--green);
    color: var(--white);
}

#mobile-side-nav {
    background-color: var(--green);
}

#mobile-side-nav a {
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* ---------- End Navigation Bar ---------- */

/* ---------- Home Page ---------- */

.heading-bg-img {
    background: linear-gradient(rgba(242, 242, 242, 0.7), rgba(242, 242, 242, 0.7)), url('../images/open-mouth.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.heading h1 {
    color: var(--pink);
    padding: 40px 20px;
    margin: 0;
}

.description {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    padding: 10px 20px 20px;
}

.img-container {
    width: 100%;
    height: 60vh;
}

.bg-img-1 {
    background: url('../images/giants-causeway.jpg');
    background-size: cover;
    background-position: center;
}

.about h2 {
    color: var(--green);
    padding: 20px 20px 10px;
    margin: 0;
}

.about-description {
    font-size: 1.4rem;
    padding: 10px 20px;
    margin: 0;
}

.bg-img-2 {
    background: url('../images/dark-hedges.jpg');
    background-size: cover;
    background-position: center;
}

/* ---------- End Home Page ---------- */


/* ---------- Buttons ---------- */

.btn {
    background-color: var(--white);
    border: 3px solid var(--blue);
    border-radius: 50px;

    color: var(--blue);
    font-size: 1.4rem;
    margin: 10px 0 20px;
    padding: 20px;
    width: 80%;
    height: auto;
}

.btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

/* ---------- End Buttons ---------- */

/* ---------- Dictionary ---------- */
.dictionary {
    margin: 20px 0;
}

section div.row {
    margin-bottom: 0;
}

.card {
    color: var(--black);
    border-radius: 20px;
}

.card-content {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-caret-down {
    font-size: 2rem;
}

.italics {
    font-style: italic;
    font-weight: 700;
}

/* ---------- End Dictionary ---------- */

/* ---------- Footer ---------- */

.page-footer {
    background-color: var(--pink);
}

footer h5 {
    font-size: 1.2rem;
    font-weight: 700;
}

.page-footer,
.social-link {
    color: var(--white);
}

.social-link i {
    font-size: 1.2rem;
    padding: 0 10px;
}

/* ---------- End Footer ---------- */

/* ---------- Media Queries ---------- */

/*  */
@media only screen and (min-width: px) {}

/* */
@media only screen and (min-width: px) {}