<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/open-mouth.png') }}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Permanent+Marker&display=swap"
        rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>404 Error</title>
</head>

<body class="error">
    <div class="container center-align">
        <div class="card">
            <h1>Ach, ya eejit!</h1>
            
            <div class="error-description">
                <p>Looks like you tried to find a page that doesn't exist.</p>
                <p>Click the button below to go back to Our Wee Guide to learn more Norn Irish!</p>
            </div>

            <!-- Return Button -->
            <a href="{{ url_for('dictionary') }}" class="btn waves-effect waves-light z-depth-0">Our Wee Guide</a>
        </div>
    </div>
</body>

</html>