{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="heading container center-align">
    <div>
        <h1>Add A Word To Our Wee Guide</h1>
    </div>

    <div class="description">
        <p>Don't forget to add a description and an example of how the word is used by locals</p>
    </div>
</div>

<!-- Add Word Form -->
<section class="form-container bg-img bg-img-add">
    <div class="row">

        <!-- Flash Message -->
        <!-- Code from Pretty Printed on YouTube:
        https://www.youtube.com/watch?v=lcVdZtVvnnk -->
        <div class="center-align flash-message">
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "word_exists" %}
                                <div>
                                    <h4>{{ message }}</h4>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_word') }}">
            <div class="card center-align">
                <!-- Word -->
                <div class="input-field">
                    <i class="fas fa-font prefix"></i>
                    <input placeholder="Add Word Here" id="word" name="word" type="text" class="validate" required>
                    <label for="word">Word</label>
                </div>

                <!-- Definition -->
                <div class="input-field">
                    <i class="fas fa-file-alt prefix"></i>
                    <textarea placeholder="Add Word Definition Here" id="definition" name="definition" type="text"
                        class="materialize-textarea validate" required></textarea>
                    <label for="definition">Definition</label>
                </div>

                <!-- Example -->
                <div class="input-field">
                    <i class="fas fa-comment prefix"></i>
                    <textarea placeholder="Add Word Example Here" id="example" name="example" type="text"
                        class="materialize-textarea validate" required></textarea>
                    <label for="example">Example</label>
                </div>

                <!-- Buttons -->
                <div class="row">
                    <!-- Cancel Button -->
                    <div class="col s12 m6">
                        <a href="{{ url_for('dictionary') }}" class="btn cancel waves-effect waves-light z-depth-0">
                            <i class="fas fa-times"></i>
                            Cancel
                        </a>
                    </div>

                    <!-- Add Word Button -->
                    <div class="col s12 m6">
                        <button type="submit" class="btn save waves-effect waves-light z-depth-0">
                            <i class="fas fa-plus"></i>
                            Add Word
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Image Description -->
    <div class="img-description">
        <p><span>Dunluce Castle</span> - Bushmills, Northern Ireland</p>
    </div>
</section>

{% endblock %}