{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="heading container center-align">
    <div>
        <h1>Add A Word To Our Wee Guide</h1>
    </div>
    <div class="page-description">

    </div>
</div>

<!-- Add Word Form -->
<section class="form-container bg-img bg-img-add">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_word') }}">
            <div class="card center-align">

                <!-- Word -->
                <div class="input-field">
                    <i class="fas fa-font prefix"></i>
                    <input placeholder="Add Word Here" id="word" name="word" type="text" class="validate" required>
                    <label for="word">Word</label>
                </div>

                <!-- Definition -->
                <div class="input-field">
                    <i class="fas fa-file-alt prefix"></i>
                    <textarea placeholder="Add Word Definition Here" id="definition" name="definition" type="text"
                        class="materialize-textarea validate" required></textarea>
                    <label for="definition">Definition</label>
                </div>

                <!-- Example -->
                <div class="input-field">
                    <i class="fas fa-comment prefix"></i>
                    <textarea placeholder="Add Word Example Here" id="example" name="example" type="text"
                        class="materialize-textarea validate" required></textarea>
                    <label for="example">Example</label>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn waves-effect waves-light z-depth-0">
                    Add Word To Our Wee Guide
                </button>

            </div>
        </form>
    </div>
    <div class="img-description">
        <p><span>Dunluce Castle</span> - Bushmills, Northern Ireland</p>
    </div>
</section>

{% endblock %}