{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="heading container center-align">
    <div>
        <h1>Contact Us</h1>
    </div>
    <div class="page-description">

    </div>
</div>

<!-- Sign Up Form -->
<section class="form-container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="" action="#">
            <div class="card center-align">

                <!-- Name -->
                <div class="input-field">
                    <i class="fas fa-user prefix"></i>
                    <input placeholder="Enter Your Name" id="name" name="name" type="text" class="validate" required>
                    <label for="name">Name</label>
                </div>

                <!-- Email -->
                <div class="input-field">
                    <i class="fas fa-user-tag prefix"></i>
                    <input placeholder="Enter Your Email Address" id="email" name="email" type="email" class="validate"
                        required>
                    <label for="email">Email</label>
                </div>

                <!-- Message -->
                <div class="input-field">
                    <i class="fas fa-comment-dots prefix"></i>
                    <textarea placeholder="Enter Your Message Here" id="message"
                        class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn waves-effect waves-light z-depth-0">
                    Submit
                </button>

            </div>
        </form>
    </div>
    <div class="img-description">
        <p><span></span></p>
    </div>
</section>

{% endblock %}