{% extends "base.html" %}
{% set active_page = 'dictionary' %}
{% block content %}

<!-- Page Heading -->
<section class="heading container center-align">
    <div>
        <h1>Our Wee Guide</h1>
    </div>
    {% if session.user %}
    <div>
        <a href="{{ url_for('add_word') }}" class="btn waves-effect waves-light z-depth-0">Add Word</a>
    </div>
    {% endif %}
</section>

<!-- Dictionary -->
<section class="dictionary bg-img bg-img-dictionary">
    <div class="container">
        <ul class="collapsible popout center-align">
            {% for word in dictionary %}
            <li>
                <div class="collapsible-header">{{ word.word }}</div>
                <div class="collapsible-body">
                    <p><span class="italics">Definition: </span>{{ word.definition }}</p>
                    <p><span class="italics">Example: </span>"{{ word.example }}"</p>
                    <p><span class="italics">Added By: </span>{{ word.added_by }}</p>

                    <!-- Edit and Delete Buttons -->
                    <!-- Admin can delete and edit any of the words in the dictionary-->
                    {% if session.user == word.added_by or session.user == "admin" %}
                    <a href="{{ url_for('edit_word', word_id=word._id) }}"
                        class="btn edit waves-effect waves-light z-depth-0">Edit</a>
                    <button data-target="{{ word._id }}"
                        class="btn delete modal-trigger waves-effect waves-light z-depth-0">Delete</button>
                    {% endif %}
                </div>
            </li>

            <!-- Delete Confirmation Modal -->
            <!-- Code below is from a slack thread in #data-centric-dev that helped fix the issue the first word in the collection being deleted instead of the targeted word -->
            <div id="{{ word._id }}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure you want to delete "{{ word.word }}"" from Our Wee Guide?</h4>
                </div>
                <div class="modal-footer center-align">
                    <a href="#!" class="btn delete modal-close waves-effect waves-light z-depth-0">Cancel</a>
                    <a href="{{ url_for('delete_word', word_id=word._id) }}"
                        class="btn delete waves-effect waves-light z-depth-0">Delete</a>
                </div>
            </div>

            {% endfor %}
        </ul>

    </div>

    <div class="img-description">
        <p><span>Belfast City Hall</span> - Belfast, Northern Ireland</p>
    </div>
</section>

{% endblock %}