{% extends "base.html" %}
{% set active_page = 'dictionary' %}
{% block content %}

<!-- Page Heading -->
<section class="heading container center-align">
    <div>
        <h1>Our Wee Guide</h1>
    </div>
    {% if session.user %}
    <div>
        <a href="{{ url_for('add_word') }}" class="btn waves-effect waves-light z-depth-0">Add Word</a>
    </div>
    {% endif %}
</section>

<!-- Dictionary -->
<section class="dictionary bg-img bg-img-dictionary">
    <div class="container valign-wrapper">
        <div class="row">
            {% for words in dictionary %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-content center-align waves-effect waves-light waves activator">
                        <span class="card-title activator">{{ words.word }}</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">{{ words.word }}<i class="fas fa-times right"></i></span>
                        <p><span class="italics">Definition: </span>{{ words.definition }}</p>
                        <p><span class="italics">Example: </span>"{{ words.example }}"</p>
                        <p><span class="italics">Added By: </span>{{ words.added_by}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="img-description">
        <p><span>Belfast City Hall</span> - Belfast, Northern Ireland</p>
    </div>
</section>

{% endblock %}