{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<section class="bg-img bg-img-heading center-align">
    <div>
        <h1>How Till Spake Norn Irish</h1>
    </div>
</section>

<!-- About Section -->
<section class="center-align">
    <div>
        <h2>About Us</h2>
        <p>
            Are you planning a visit to Northern Ireland and want to
            mingle with the locals?
        </p>
        <p>
            Or have you already visited 'Our Wee Country' but didn't
            understand what the locals were saying?
        </p>
        <p>
            This handy guide will help you understand all those strange
            words and phrases you might hear from the locals!
        </p>
        <a href="{{ url_for('dictionary') }}" class="btn">Our Wee Guide</a>
    </div>
</section>

<!-- Login/Sign Up Section -->
<section class="bg-img bg-img-login">
    <div>
        <h3>Login</h3>
    </div>
</section>

{% endblock %}