{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<section class="heading container center-align">
    <div class="bg-img-heading valign-wrapper">
        <h1>How Till Spake<br>Norn Irish</h1>
    </div>
    <div class="site-description">
        <p>A Guide to Understanding<br>the Northern Irish</p>
    </div>
</section>

<!-- Image 1 -->
<section class="img-container bg-img-top">
    <div class="img-description">
        <p><span>Giants Causeway</span> - Bushmills, Northern Ireland</p>
    </div>
</section>

<!-- About -->
<section class="about container center-align">
    <h2>About Us</h2>
    <div class="about-description">
        <p>
            Are you planning a visit to Northern Ireland and want to
            mingle with the locals?
        </p>
        <p>
            Or have you already visited<br><span>'Our Wee Country'</span><br>but didn't
            understand what the locals were saying?
        </p>
        <p>
            This handy guide will help you understand all those strange
            words and phrases you might hear during your visit to Northern Ireland!
        </p>
    </div>
    <a href="{{ url_for('dictionary') }}" class="btn waves-effect waves-light z-depth-0">Our Wee Guide</a>
</section>

<!-- Image 2 -->
<section class="img-container bg-img-bottom">
    <div class="img-description">
        <p><span>The Dark Hedges</span> - Ballymoney, Northern Ireland</p>
    </div>
</section>

<!-- Login/Sign Up -->
<section class="login-signup container center-align">
    <div class="row">

        <!-- Login Button -->
        <div class="col s12 m6">
            <p>
                Already have a wee account? Login to continue adding words
                and rate words that have recently been added!
            </p>
            <a href="{{ url_for('login') }}" class="btn waves-effect waves-light z-depth-0">Login</a>
        </div>

        <!-- Sign Up Button -->
        <div class="col s12 m6">
            <p>
                Have some words or phrases you'd like to add to our wee guide?
                Why not sign up for an account?
            </p>
            <a href="{{ url_for('sign_up') }}" class="btn waves-effect waves-light z-depth-0">Sign Up</a>
        </div>
    </div>
</section>

{% endblock %}