{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="heading contatiner center-align">
    <div class="heading-bg-img">
        <h1>Welcome to How Till Spake Norn Irish</h1>
    </div>
    <div class="description">
        <p>A Guide to Understanding<br>the Northern Irish Language</p>
    </div>
</div>

<!-- Image 1 -->
<div class="img-container bg-img-1">
    <!-- Add Image Description -->
</div>

<!-- About Section -->
<div class="about container center-align">
    <h2>About Us</h2>
    <div class="about-description">
        <p>
            Are you planning a visit to Northern Ireland and want to
            mingle with the locals?
        </p>
        <p>
            Or have you already visited 'Our Wee Country' but didn't
            understand what the locals were saying?
        </p>
        <p>
            This handy guide will help you understand all those strange
            words and phrases you might hear during your visit to Northern Ireland!
        </p>
    </div>
    <a href="{{ url_for('dictionary') }}" class="btn waves-effect waves-light z-depth-0">Our Wee Guide</a>
</div>

<!-- Image 2 -->
<div class="img-container bg-img-2">
    <!-- Add Image Description -->
</div>

<!-- Login/Sign Up Section -->
<div class="container center-align">
    <div class="row">
        <div class="col s12 m6">
            <p>
                Have some words or phrases you'd like to add to our wee guide?
                Why not sign up for an account?
            </p>
            <a href="" class="btn waves-effect waves-light z-depth-0">Sign Up</a>
        </div>
        <div class="col s12 m6">
            <p>
                Already have a wee account? Login to continue adding words
                and rate words that have recently been added!
            </p>
            <a href="" class="btn waves-effect waves-light z-depth-0">Login</a>
        </div>
    </div>
</div>

{% endblock %}