{% extends "base.html" %}
{% set active_page = 'login' %}
{% block content %}

<!-- Page Heading -->
<section class="heading container center-align">
    <div>
        <h1>Login to your wee account</h1>
    </div>

    <div class="form-description">
        <p>Login into your wee account now to:</p>
        <ul>
            <li>Add words to Our Wee Guide</li>
            <li>Edit or Delete words you've already added to Our Wee Guide</li>
        </ul>
    </div>
</section>

<!-- Login Form -->
<section class="form-container bg-img bg-img-login">
    <div class="row">

        <!-- Flash Messages -->
        <!-- Code from Pretty Printed on YouTube: 
        https://www.youtube.com/watch?v=lcVdZtVvnnk -->
        <div class="center-align flash-message">
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "logout" %}
                            <div>
                                <h4>{{ message }}</h4>
                            </div>
                        {% endif %}

                        {% if category == "incorrect" %}
                            <div>
                                <h4>{{ message }}</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>

        <!-- Login Form -->
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card center-align">

                <!-- Username -->
                <div class="input-field">
                    <i class="fas fa-user-tag prefix"></i>
                    <input placeholder="Enter Your Username" id="username" name="username" type="text" data-length="15"
                        pattern="^[a-zA-Z0-9_]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>

                <!-- Password -->
                <div class="input-field">
                    <i class="fas fa-key prefix"></i>
                    <!-- Regex from: https://www.html5pattern.com/Passwords -->
                    <input placeholder="Enter Your Password" id="password" name="password" type="password" data-length="15"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,}$" class="validate" required>
                    <label for="password">Password</label>
                </div>

                <!-- Login Button -->
                <button type="submit" class="btn waves-effect waves-light z-depth-0">
                    Login
                </button>
            </div>
        </form>
    </div>

    <div class="img-description">
        <p><span>Titanic Museum</span> - Belfast, Northern Ireland</p>
    </div>
</section>

<!-- Sign Up Button -->
<section class="container center-align login">
    <div class="signup-btn">
        <p>
            Don't have an account yet?<br>
            Click the button below to sign up for an account with us!
        </p>
        <a href="{{ url_for('sign_up') }}" class="btn waves-effect waves-light z-depth-0">Sign Up</a>
    </div>
</section>

{% endblock %}