{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="heading container center-align">
    <div>
        <h1>Login to your wee account</h1>
    </div>
</div>

<!-- Sign Up Form -->
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">

                <!-- Flash Messages -->
                <!-- Code for flash messages with categories from Pretty Printed on YouTube - https://www.youtube.com/watch?v=lcVdZtVvnnk -->
                <div class="row">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    {% if category == "welcome" %}
                    <div class="success">
                        <h4>{{ message }}</h4>
                    </div>
                    {% endif %}

                    {% if category == "incorrect" %}
                    <div class="error">
                        <h4>{{ message }}</h4>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-tag prefix"></i>
                        <input placeholder="Enter Your Username" id="username" name="username" type="text" minlength="5"
                            maxlength="15" data-length="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for=" username">Username</label>
                    </div>
                </div>

                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix"></i>
                        <input placeholder="Enter Your Password" id="password" name="password" type="password"
                            minlength="5" maxlength="15" data-length="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                            required>
                        <label for=" password">Password</label>
                    </div>
                </div>

                <!-- Login Button -->
                <div class="row">
                    <button type="submit" class="col s12 btn z-depth-0">Login</button>
                </div>

            </div>
        </form>
    </div>
</div>

{% endblock %}