{% extends "base.html" %}
{% set active_page = 'profile' %}
{% block content %}

<!-- Page Heading -->
<section class="heading container center-align">
    <div>
        <h1>Bout ye {{ username }}?</h1>
    </div>

    <div class="description">
        <p>Here's all the Norn Irish words you've added to Our Wee Guide:</p>
    </div>
</section>

<!-- User Profile -->
<section class="dictionary bg-img bg-img-profile">

    <!-- Flash Message -->
    <!-- Code from Pretty Printed on YouTube:
        https://www.youtube.com/watch?v=lcVdZtVvnnk -->
    <div class="center-align flash-message">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "success" %}
                        <div>
                            <h4>{{ message }}</h4>
                        </div>
                    {% endif %}

                    {% if category == "welcome" %}
                    <div>
                        <h4>{{ message }}</h4>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <!-- Added Words -->
    <div class="container">
        <ul class="collapsible popout center-align">
            {% for word in dictionary %}
                <li>
                    <div class="collapsible-header">{{ word.word }}</div>
                    <div class="collapsible-body">
                        <p><span class="italics">Definition: </span>{{ word.definition }}</p>
                        <p><span class="italics">Example: </span>"{{ word.example }}"</p>
                        <p><span class="italics">Added By: </span>{{ word.added_by }}</p>

                        <!-- Admin can delete and edit any of the words in the dictionary -->
                        {% if session.user == word.added_by or session.user == "site_admin" %}
                            <!-- Edit Button -->
                            <a href="{{ url_for('edit_word', word_id=word._id) }}"
                                class="btn edit waves-effect waves-light z-depth-0">
                                <i class="fas fa-edit"></i>
                                Edit
                            </a>
                            <!-- Delete Button -->
                            <button data-target="{{ word._id }}" 
                            class="btn delete modal-trigger waves-effect waves-light z-depth-0">
                                <i class="fas fa-trash-alt"></i>
                                Delete
                            </button>
                        {% endif %}
                        
                    </div>
                </li>

                <!-- Delete Confirmation Modal -->
                <!-- Code below is from a slack thread in #data-centric-dev | Credited in README -->
                <div id="{{ word._id }}" class="modal">
                    <div class="modal-content">
                        <h4>Are you sure you want to delete "{{ word.word }}" from Our Wee Guide?</h4>
                    </div>
                    <div class="modal-footer center-align">
                        <!-- Cancel Button -->
                        <a href="#!" class="btn delete modal-close waves-effect waves-light z-depth-0">
                            <i class="fas fa-times"></i>
                            Cancel
                        </a>

                        <!-- Delete Button -->
                        <a href="{{ url_for('delete_word', word_id=word._id) }}"
                            class="btn delete waves-effect waves-light z-depth-0">
                            <i class="fas fa-trash-alt"></i>
                            Delete
                        </a>
                    </div>
                </div>

            {% else %}

                <!-- No Words Added Card -->
                <div class="card error-card valign-wrapper">
                    <h4>
                        You haven't added any words to Our Wee Guide.<br>
                        Click the button below to start adding some words!
                    </h4>
                </div>

            {% endfor %}
        </ul>
    </div>

    <!-- Image Description -->
    <div class="img-description">
        <p><span>Belfast City Hall</span> - Belfast, Northern Ireland</p>
    </div>
</section>

<!-- Add Word -->
<section class="container center-align">
    <div class="add-word-container">
        <p>Recently learn a new Norn Irish word?<br>Add it to Our Wee Guide now!</p>
        <a href="{{ url_for('add_word') }}" class="btn waves-effect waves-light z-depth-0">
            <i class="fas fa-plus"></i>
            Add Word
        </a>
    </div>
</section>

{% endblock %}