{% extends "base.html" %}
{% set active_page = 'sign_up' %}
{% block content %}

<!-- Page Heading -->
<section class="heading container center-align">
    <div>
        <h1>Create a Wee Account</h1>
    </div>

    <div class="description">
        <p>Creating an account with us allows you to:</p>
        <ul>
            <li>Add words to Our Wee Guide</li>
            <li>Edit or Delete words you've added to Our Wee Guide</li>
        </ul>
    </div>
</section>

<!-- Sign Up Form -->
<section class="form-container bg-img bg-img-signup">
    <div class="row">

        <!-- Flash Messages -->
        <!-- Code from Pretty Printed on YouTube:
        https://www.youtube.com/watch?v=lcVdZtVvnnk -->
        <div class="center-align flash-message">
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                <div>
                                    <h4>{{ message }}</h4>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <!-- Sign Up Form -->
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card center-align">

                <!-- First Name -->
                <div class="input-field">
                    <i class="fas fa-user prefix"></i>
                    <input placeholder="Enter Your First Name" id="first_name" name="first_name" 
                        type="text" data-length="12" pattern="^[a-zA-Z]{2,12}$" class="validate" required>
                    <label for="first_name">First Name</label>
                    <span class="helper-text">Minimum of two characters</span>
                </div>

                <!-- Username -->
                <div class="input-field">
                    <i class="fas fa-user-tag prefix"></i>
                    <input placeholder="Enter A Username" id="username" name="username" type="text"
                        data-length="15" pattern="^[a-zA-Z0-9_]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                    <span class="helper-text">Minimum of five characters</span>
                </div>

                <!-- Password -->
                <div class="input-field">
                    <i class="fas fa-key prefix"></i>
                    <!-- Regex from: https://www.html5pattern.com/Passwords -->
                    <input placeholder="Enter a Password" id="password" name="password" type="password" 
                        data-length="15" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,}$"
                        class="validate" required>
                    <label for="password">Password</label>
                    <span class="helper-text">Must be longer than six characters and contain at least one uppercase letter
                        and a number</span>
                </div>
                
                <!-- Confirm Password -->
                <div class="input-field">
                    <i class="fas fa-key prefix"></i>
                    <!-- Regex from: https://www.html5pattern.com/Passwords -->
                    <input placeholder="Confirm Password" id="confirm_password" name="confirm_password" type="password"
                        data-length="15" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,}$"
                        class="validate" required>
                    <span id="message"></span>
                    <label for="confirm_password">Confirm Password</label>
                </div>

                <!-- Sign Up Button -->
                <button type="submit" class="btn waves-effect waves-light z-depth-0">
                    Sign Up
                </button>
            </div>
        </form>
    </div>

    <div class="img-description">
        <p><span>Carrick-A-Rede Rope Bridge</span> - Ballintoy, Northern Ireland</p>
    </div>
</section>

<!-- Login Button -->
<section class="login container center-align">
    <div class="login-btn">
        <p>
            Already have a wee account with us?<br>
            Click the button below to login to your account now!
        </p>
        <a href="{{ url_for('login') }}" class="btn waves-effect waves-light z-depth-0">Login</a>
    </div>
</section>

{% endblock %}